<ng-container *transloco="let t">
  <p-menubar [model]="menubarItems">
    <ng-template pTemplate="start">
      <img
        src="assets/images/deskbird-full-purple.png"
        alt="logo"
        class="navbar-logo"
        (click)="aboutPopover.toggle($event)"
      />
    </ng-template>
    <ng-template #item let-item>
      <ng-container *ngIf="item.route; else urlRef">
        <a [routerLink]="item.route" class="p-menubar-item-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #urlRef>
        <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menubar-item-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #noLink>
        <div class="p-menubar-item-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      </ng-template>
    </ng-template>

    <app-user-profile-badge
      class="flex justify-content-center align-items-center"
    ></app-user-profile-badge>
  </p-menubar>

  <div class="m-4">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<p-popover #aboutPopover>
  <ng-container *transloco="let t">
    <div class="p-3">
      <p class="m-0">{{ t('LAYOUT.ABOUT_POPOVER') }}</p>
    </div>
  </ng-container>
</p-popover>
