<ng-container *transloco="let t">
  <app-auth-layout [title]="t('AUTH.SIGNUP.TITLE')">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="p-fluid signup-form flex flex-column gap-2">
      <div class="field signup-field">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            autocomplete="off"
          />
          <label for="email">{{ t('AUTH.SIGNUP.EMAIL_LABEL') }}</label>
        </p-floatlabel>
      </div>
      <div class="field signup-field">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="firstName"
            type="text"
            formControlName="firstName"
            autocomplete="off"
          />
          <label for="firstName">{{ t('AUTH.SIGNUP.FIRST_NAME_LABEL') }}</label>
        </p-floatlabel>
      </div>
      <div class="field signup-field">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="lastName"
            type="text"
            formControlName="lastName"
            autocomplete="off"
          />
          <label for="lastName">{{ t('AUTH.SIGNUP.LAST_NAME_LABEL') }}</label>
        </p-floatlabel>
      </div>
      <div class="field signup-field">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="password"
            type="password"
            formControlName="password"
            autocomplete="off"
          />
          <label for="password">{{ t('AUTH.SIGNUP.PASSWORD_LABEL') }}</label>
        </p-floatlabel>
      </div>
      <div class="mb-3">
        <p-button [label]="t('AUTH.SIGNUP.CREATE_ACCOUNT_BUTTON')" [raised]="true" severity="success" type="submit" class="w-full" />
      </div>
      <div class="flex flex-column align-items-center gap-2">
        <a routerLink="/login" class="text-primary">{{ t('AUTH.SIGNUP.ALREADY_HAVE_ACCOUNT') }} {{ t('AUTH.SIGNUP.SIGN_IN_LINK') }}</a>
      </div>
    </form>
    <p-toast></p-toast>
  </app-auth-layout>
</ng-container>
