<ng-container *transloco="let t">
  <p-menubar [model]="menubarItems">
    <ng-template pTemplate="start">
      <span class="font-bold text-xl">{{ t('DEMO') }}</span>
    </ng-template>
  </p-menubar>

  <div class="p-m-4">
    <p-card header="Content Section">
      <div class="mb-4">
        <strong>API Status:</strong>
        <span [class]="apiStatus === 'Connected' ? 'text-green-600' : 'text-red-600'">
          {{ apiStatus }}
        </span>
        <br>
        <small class="text-gray-600">API URL: {{ environment.apiBaseUrl }}</small>
      </div>
      <router-outlet></router-outlet>
    </p-card>
  </div>
</ng-container>
