@let currentUser = currentUser$ | async;
<p-table [value]="users" dataKey="id" [tableStyle]="{'min-width': '40rem'}">
  <ng-template #header>
    <tr>
      <th style="width:25%">Email</th>
      <th style="width:25%">Name</th>
      <th style="width:15%">Role</th>
      <th style="width:25%">Updated At</th>
      <th style="width:10%"></th>
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>
        @if (user.role === userRoles.Admin) {
          <p-tag severity="warn" value="ADMIN" />
        }
        @else if (user.role === userRoles.User) {
          <p-tag severity="success" value="USER" />
        }
        @else {
          <p-tag severity="danger" value="Oops, not defined" />
        }
      </td>
      <td>{{ user.updatedAt | date: 'short' }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          (click)="onEditUser(user)"
          text
          severity="secondary"
          [disabled]="!currentUser || currentUser?.role !== userRoles.Admin"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
