@let currentUser = currentUser$ | async;
@let users = users$ | async;
@let loading = loading$ | async;
@let error = error$ | async;
<ng-container *transloco="let t">
  @if (loading) {
    <div class="flex justify-content-center align-items-center my-5">
      <p-progressSpinner styleClass="w-3rem h-3rem" strokeWidth="4"></p-progressSpinner>
    </div>
  } @else {
    @if (error) {
      <div class="p-error my-3 text-center">{{ error }}</div>
    }
    @if (users) {
      <p-table [value]="users" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="email">{{ t('USERS.LISTING.TABLE.EMAIL_HEADER') }} <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="fullName">{{ t('USERS.LISTING.TABLE.NAME_HEADER') }} <p-sortIcon field="fullName"></p-sortIcon></th>
            <th pSortableColumn="role">{{ t('USERS.LISTING.TABLE.ROLE_HEADER') }} <p-sortIcon field="role"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.fullName }}</td>
            <td>
              @if (user.role === userRoles.Admin) {
                <p-tag severity="warn" [value]="t('USERS.LISTING.ROLE.ADMIN')" />
              } @else if (user.role === userRoles.User) {
                <p-tag severity="success" [value]="t('USERS.LISTING.ROLE.USER')" />
              } @else {
                <p-tag severity="danger" [value]="t('USERS.LISTING.ROLE.UNDEFINED')" />
              }
            </td>
            <td>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                (click)="onEditUser(user)"
                text
                severity="secondary"
                [disabled]="!currentUser || currentUser?.role !== userRoles.Admin"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  }

  <p-dialog
    [header]="t('USERS.LISTING.EDIT_DIALOG_HEADER')"
    [(visible)]="displayEditDialog"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    (onHide)="onDialogHide()"
    [style]="{ width: '400px' }"
  >
    @if (selectedUser) {
      <app-edit-user [user]="selectedUser"></app-edit-user>
    }
  </p-dialog>
</ng-container>
