@let currentUser = currentUser$ | async;
@let users = users$ | async;
@let loading = loading$ | async;
@let error = error$ | async;
<ng-container *transloco="let t">
  @if (loading) {
    <div class="flex justify-content-center align-items-center my-5">
      <p-progressSpinner styleClass="w-3rem h-3rem" strokeWidth="4"></p-progressSpinner>
    </div>
  } @else {
    @if (error) {
      <div class="p-error my-3 text-center">{{ error }}</div>
    }
    @if (users) {
      <p-table [value]="users" dataKey="id" [tableStyle]="{ 'min-width': '40rem' }">
        <ng-template #header>
          <tr>
            <th style="width: 25%">Email</th>
            <th style="width: 25%">Name</th>
            <th style="width: 15%">Role</th>
            <th style="width: 25%">Updated At</th>
            <th style="width: 10%"></th>
          </tr>
        </ng-template>
        @for (user of users; track user.id) {
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>
              @if (user.role === userRoles.Admin) {
                <p-tag severity="warn" value="ADMIN" />
              } @else if (user.role === userRoles.User) {
                <p-tag severity="success" value="USER" />
              } @else {
                <p-tag severity="danger" value="Oops, not defined" />
              }
            </td>
            <td>{{ user.updatedAt | date: 'short' }}</td>
            <td>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                (click)="onEditUser(user)"
                text
                severity="secondary"
                [disabled]="!currentUser || currentUser?.role !== userRoles.Admin"
              ></button>
            </td>
          </tr>
        }
      </p-table>
    }
  }

  <p-dialog
    header="Edit User"
    [(visible)]="displayEditDialog"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    (onHide)="onDialogHide()"
    [style]="{ width: '400px' }"
  >
    @if (selectedUser) {
      <app-edit-user [user]="selectedUser"></app-edit-user>
    }
  </p-dialog>
</ng-container>
