<ng-container *transloco="let t">
  <app-auth-layout [title]="t('AUTH.FORGOT.TITLE')">
    @if (isSubmitted && !isLoading) {
      <div class="text-center w-full">
        <i class="pi pi-check-circle text-green-500 text-4xl mb-3"></i>
        <h3>{{ t('AUTH.FORGOT.CHECK_EMAIL_TITLE') }}</h3>
        <p class="text-secondary">
          {{ t('AUTH.FORGOT.CHECK_EMAIL_MESSAGE') }}
        </p>
        <p-button
          [label]="t('AUTH.FORGOT.BACK_TO_LOGIN')"
          icon="pi pi-arrow-left"
          class="p-button-outlined mt-3 w-full action-button"
          routerLink="/login"
        >
        </p-button>
      </div>
    } @else {
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="p-fluid forgot-password-form">
        <div class="field forgot-password-field">
          <p-floatlabel variant="on">
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              autocomplete="off"
            />
            <label for="email">{{ t('AUTH.FORGOT.EMAIL_LABEL') }}</label>
          </p-floatlabel>
        </div>
        <div class="mb-3">
          <p-button [label]="t('AUTH.FORGOT.SEND_RESET_LINK')" [raised]="true" severity="success" type="submit" class="w-full" />
        </div>
      </form>
    }
    <p-toast></p-toast>
  </app-auth-layout>
</ng-container>
