<ng-container *transloco="let t">
<form *ngIf="form" [formGroup]="form" class="p-fluid edit-form" (ngSubmit)="onSave()">
  <div class="field edit-user-field">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="email"
        type="email"
        formControlName="email"
        autocomplete="off"
      />
      <label for="email">{{ t('USERS.EDIT.EMAIL_LABEL') }}</label>
    </p-floatlabel>
  </div>
  <div class="field edit-user-field">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="fullName"
        type="text"
        formControlName="fullName"
        autocomplete="off"
      />
      <label for="fullName">{{ t('USERS.EDIT.FULL_NAME_LABEL') }}</label>
    </p-floatlabel>
  </div>
  <div class="field edit-user-field">
    <p-floatlabel variant="on">
      <p-select
        formControlName="role"
        [options]="roleOptions"
        optionLabel="label"
        optionValue="value"
        [placeholder]="t('USERS.EDIT.ROLE_PLACEHOLDER')"
        class="w-full md:w-56"
      />
      <label for="role">{{ t('USERS.EDIT.ROLE_LABEL') }}</label>
    </p-floatlabel>
  </div>
  <div class="flex gap-2 flex-row-reverse">
    <p-button [label]="t('USERS.EDIT.SAVE_BUTTON')" [raised]="true" severity="success" type="submit"/>
    <p-button [label]="t('USERS.EDIT.DISCARD_BUTTON')" variant="text" severity="secondary" type="submit"/>
  </div>
</form>
</ng-container>
