<div class="center-card-bg">
  <div class="center-card-center">
    <p-card class="p-4 flex flex-column align-items-center w-full login-card">
      <div class="flex flex-column align-items-center mb-3 w-full">
        <img
          src="assets/images/logo-deskbird.png"
          alt="Deskbird Logo"
          width="250"
          height="250"
          class="mb-2 center-card-logo"
        />
        <h2 class="mb-1">{{ title }}</h2>
      </div>
      <ng-content></ng-content>
    </p-card>
  </div>
</div>
